body {
    background-image: url(https://www.ecosia.org/images?q=imagen%20de%20un%20hongo#id=6F31BFA8BF4298EEA32158510A5C20663572788C);
    background-size: cover 
}
h1 {
    color: blueviolet;
    background-color:black;
    text-align: center;
    border: 5px dashed white;
}
h2 {
    color: blue;
} 